* {
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: none;
    padding: 0;
    margin: 0
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'PT_Serif-Regular';
    background: #333333;
    line-height: 1.45;
    font-size: 16px;
    color: #FFFFFF;
    &.overflow {
        padding-right: 16px;
        overflow: hidden;
        height: 100vh;
    }
    @media screen and (max-width: 768px) {
        font-size: 3vw
    }
}

b, strong {
    font-family: 'PT_Serif-Bold';
}

table {
    border-collapse: collapse
}

h1, h2, h3, h4, b, strong {
    font-weight: normal
}
button {
    cursor: pointer;
}

i {
    font-family: 'PT_Serif-Italic';
}
a {
    text-decoration: none
}

img {
    image-rendering: -webkit-optimize-contrast
}

@font-face {
    font-family: 'Noto_Serif';
    src: url(../fonts/Noto_Serif.eot);
    src: url(../fonts/Noto_Serif.eot?#iefix) format("embedded-opentype"),
         url(../fonts/Noto_Serif.woff) format("woff"),
         url(../fonts/Noto_Serif.ttf) format("truetype")
}

@font-face {
    font-family: 'PT_Serif-Bold';
    src: url(../fonts/PT_Serif-Bold.eot);
    src: url(../fonts/PT_Serif-Bold.eot?#iefix) format("embedded-opentype"),
         url(../fonts/PT_Serif-Bold.woff) format("woff"),
         url(../fonts/PT_Serif-Bold.ttf) format("truetype")
}
@font-face {
    font-family: 'PT_Serif-Bold';
    src: url(../fonts/PT_Serif-Bold.eot);
    src: url(../fonts/PT_Serif-Bold.eot?#iefix) format("embedded-opentype"),
         url(../fonts/PT_Serif-Bold.woff) format("woff"),
         url(../fonts/PT_Serif-Bold.ttf) format("truetype")
}
@font-face {
    font-family: 'PT_Serif-BoldItalic';
    src: url(../fonts/PT_Serif-BoldItalic.eot);
    src: url(../fonts/PT_Serif-BoldItalic.eot?#iefix) format("embedded-opentype"),
         url(../fonts/PT_Serif-BoldItalic.woff) format("woff"),
         url(../fonts/PT_Serif-BoldItalic.ttf) format("truetype")
}
@font-face {
    font-family: 'PT_Serif-Italic';
    src: url(../fonts/PT_Serif-Italic.eot);
    src: url(../fonts/PT_Serif-Italic.eot?#iefix) format("embedded-opentype"),
         url(../fonts/PT_Serif-Italic.woff) format("woff"),
         url(../fonts/PT_Serif-Italic.ttf) format("truetype")
}
@font-face {
    font-family: 'PT_Serif-Regular';
    src: url(../fonts/PT_Serif-Regular.eot);
    src: url(../fonts/PT_Serif-Regular.eot?#iefix) format("embedded-opentype"),
         url(../fonts/PT_Serif-Regular.woff) format("woff"),
         url(../fonts/PT_Serif-Regular.ttf) format("truetype")
}
.noto {
    font-family: 'Noto_Serif';
}
.regular {
    font-family: 'PT_Serif-Regular';
}
.bold {
    font-family: 'PT_Serif-Bold';
}
.italic {
    font-family: 'PT_Serif-Italic';
}

.wrap {
    background: #191919;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 1024px) {
        overflow-x: hidden;
        overflow-y: scroll
    }
}

.header {
    background: #333333;
    position: relative;
    z-index: 9;
    .center {
        justify-content: space-between;
        align-items: center;
        position: relative;
        max-width: 1366px;
        padding: 0 30px;
        margin: 0 auto;
        display: flex;
        height: 70px;
        width: 100%;
        z-index: 3
    }
    .logo {
        position: relative;
        z-index: 2;
        .logo-link {
            align-items: center;
            color: #FFFFFF;
            display: flex;
            .logo-icon {
                .icon {
                    display: block;
                    width: 35px;
                }
            }
            .logo-text {
                white-space: nowrap;
                padding-left: 10px;
                .name {
                    font-family: 'Noto_Serif';
                    padding-bottom: 5px;
                    padding-top: 10px;
                    font-size: 20px;
                    line-height: 1;
                }
                .legend {
                    font-family: 'PT_Serif-Italic';
                    font-size: 15px;
                }
            }
        }
    }
    .menu {
        display: flex;
        height: 100%;
        .menu-list {
            display: flex;
            height: 100%;
        }
        .menu-item {
            align-items: center;
            position: relative;
            display: flex;
            .item-link {
                transition: all 300ms;
                padding: 0 15px;
                color: #FFFFFF;
            }
            &:after {
                transition: all 300ms;
                position: absolute;
                background: #FFC200;
                content: '';
                height: 3px;
                bottom: 0;
                left: 50%;
                width: 0;
            }
            &:hover, &.checked {
                .item-link {
                    color: #FFC200;
                }
                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
    .cart {
        position: relative;
        display: flex;
        height: 100%;
        .menu-item {
            padding: 0 15px;
            .cart-icon {
                position: relative;
                .icon {
                    width: 30px;
                    &.active {
                        display: none;
                    }
                }
            }
            .cart-value {
                background: #52A762;
                border-radius: 100%;
                position: absolute;
                font-family: Arial;
                line-height: 1.3;
                font-size: 13px;
                color: #FFFFFF;
                padding: 0 6px;
                display: none;
                bottom: -5px;
                right: -5px;
            }
            &.active {
                .cart-icon {
                    .icon {
                        &.active {
                            display: block;
                        }
                        &.empty {
                            display: none;
                        }
                    }
                }
                .cart-value {
                    display: block;
                }
            }
        }
        .cart-popup {
            box-shadow: 0 0 30px 10px rgba(0,0,0,1);
            flex-direction: column;
            transition: all 400ms;
            align-items: center;
            background: #4D4D4D;
            border-radius: 10px;
            position: absolute;
            min-width: 250px;
            overflow: hidden;
            opacity: 0;
            display: flex;
            right: -31px;
            top: 90px;
            .pointer {
                position: absolute;
                bottom: 100%;
                right: 50px;
                width: 20px;
            }
            .painting {
                justify-content: center;
                display: flex;
                width: 100%;
                .image {
                    max-height: 150px;
                    max-width: 100%;
                    display: block;
                }
            }
            .add {
                padding: 10px 0 5px;
                font-size: 14px;
                color: #FFC200;
            }
            &.active {
                overflow: visible;
                padding: 20px;
                opacity: 1;
            }
        }
    }
    &.index {
        .center {
            height: 100px;
        }
        .logo-link {
            .logo-icon {
                .icon {
                    width: 50px;
                }
            }
            .logo-text {
                .name {
                    padding-bottom: 5px;
                    padding-top: 10px;
                    font-size: 28px;
                }
            }
        }
    }
}

.slider {
    position: relative;
    overflow: hidden;
    &.primary {
        background: #000000;
        font-size: 0;
        height: 360px;
        .slider__wrapper {
            height: 100%;
            .slider__items {
                transition: transform 0.5s ease;
                transform-style: preserve-3d;
                backface-visibility: hidden;
                will-change: transform;
                counter-reset: slide;
                display: flex;
                height: 100%;
                .slider__item {
                    transform-style: preserve-3d;
                    backface-visibility: hidden;
                    will-change: transform;
                    position: relative;
                    max-width: 100%;
                    flex: 0 0 100%;
                    height: 100%;
                    &.video {
                        .center {
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: row;
                        }
                        .banner-text {
                            width: 49%;
                        }
                        .banner-video {
                            position: relative;
                            height: 100%;
                            width: 49%;
                            .preview {
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                display: flex;
                                height: 100%;
                                width: 100%;
                                z-index: 2;
                                left: 0;
                                top: 0;
                                .preview-image {
                                    min-height: 100%;
                                    min-width: 100%;
                                }
                                .preview-button {
                                    transform: translate(-50%, -50%);
                                    position: absolute;
                                    z-index: 2;
                                    width: 15%;
                                    left: 50%;
                                    top: 50%;
                                }
                            }
                            .frame {
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                z-index: 1;
                                left: 0;
                                top: 0;
                            }
                        }
                    }
                    .banner {
                        align-items: center;
                        position: relative;
                        display: flex;
                        height: 100%;
                        width: 100%;
                    }
                    .center {
                        justify-content: flex-end;
                        flex-direction: column;
                        position: relative;
                        max-width: 1366px;
                        padding: 0 30px;
                        margin: 0 auto;
                        display: flex;
                        height: 100%;
                        width: 100%;
                        z-index: 2;
                    }
                    .banner-image {
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        overflow: hidden;
                        display: flex;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                        img {
                            transition: all 5000ms;
                            display: block;
                            width: 100%;
                        }
                        &:after {
                            background-image: url("../jpg/banner_shadow.png");
                            background-repeat: repeat-x;
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            content: '';
                            z-index: 2;
                            bottom: 0;
                            left: 0;
                        }
                    }
                    .banner-text {
                        padding-bottom: 40px;
                        color: #FFFFFF;
                        .title {
                            margin-bottom: 10px;
                            line-height: 1.2;
                            font-size: 32px;
                        }
                        .text {
                            margin-bottom: 10px;
                            font-size: 19px;
                        }
                        .location {
                            display: flex;
                            img {
                                width: 20px;
                            }
                            div {
                                padding-left: 10px;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            .slider__btn {
                justify-content: center;
                align-items: center;
                position: absolute;
                display: none;
                height: 100%;
                width: 50px;
                top: 0;
                .icon {
                    position: absolute;
                    width: 50%;
                    top: 300px;
                    left: 25%;
                    &.two {
                        opacity: 0;
                    }
                }
                &:hover {
                    .icon {
                        &.two {
                            opacity: 1;
                        }
                    }
                }
                &.slider__btn_prev {
                    left: 15px;
                }
                &.slider__btn_next {
                    right: 15px;
                }
            }
            .slider__indicators {
                transform: translate(-50%);
                position: absolute;
                display: none;
                bottom: 30px;
                z-index: 2;
                left: 50%;
                .slider__indicator {
                    transition: all 300ms;
                    background: #fff;
                    border-radius: 100%;
                    margin: 0 10px;
                    height: 10px;
                    width: 10px;
                    &.slider__indicator_active {
                        background: #FF8200;
                    }
                }
            }
        }
    }
    &.index {
        .slider__wrapper {
            .slider__items {
                .slider__item {
                    &:hover {
                        .banner {
                            .banner-image {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.popup {
    background: rgba(0,0,0,.8);
    justify-content: center;
    transition: all 400ms;
    align-items: center;
    overflow: hidden;
    position: fixed;
    display: flex;
    height: 100vh;
    z-index: 20;
    padding: 0;
    width: 0;
    right: 0;
    top: 0;
    &.active {
        padding: 2% 5%;
        width: 100vw;
    }
    .close {
        position: absolute;
        cursor: pointer;
        height: 20px;
        width: 20px;
        right: 50px;
        z-index: 2;
        top: 20px;
        .icon {
            transition: all 300ms;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            &.two {
                opacity: 0;
            }
        }
        &:hover {
            .icon {
                &.two {
                    opacity: 1;
                }
            }
        }
    }
    .slider {
        &.primary {
            height: 100%;
            opacity: 0;
            .slider__wrapper {
                overflow: hidden;
                .slider__items {
                    .slider__item {
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        img {
                            max-height: 100%;
                            max-width: 100%;
                            display: block;
                        }
                    }
                }
                .slider__btn {
                    display: block;
                    .icon {
                        transform: translateY(-50%);
                        top: 50%;
                    }
                }
            }
        }
    }

}

.gallery-slider {
    &.module {
        padding-top: 0;
        .module-title {
            align-items: center;
            display: flex;
        }
        .module-content {
            margin: 0 -120px;
            padding: 0;
        }
    }
    .painting {
        justify-content: center;
        align-items: flex-start;
        position: relative;
        display: flex;
        .painting-text {
            background: #333333;
            align-items: center;
            min-height: 600px;
            margin-top: 60px;
            font-size: 18px;
            color: #808080;
            padding: 40px;
            display: flex;
            z-index: 1;
            &:hover {
                & + .painting-image {
                    transform: translateX(180px);
                }
            }
        }
        .painting-image {
            transition: all 400ms;
            margin-left: -200px;
            position: relative;
            max-width: 100%;
            z-index: 2;
            .image {
                max-width: 100%;
                max-height: 65vh;
            }
        }
        .painting-info {
            justify-content: flex-end;
            align-items: center;
            padding-top: 20px;
            display: flex;
            .info {
                padding-right: 15px;
                text-align: right;
                font-size: 14px;
                color: #808080;
            }
        }
    }
    .slider {
        &.primary {
            background: none;
            padding: 0 120px;
            height: auto;
            .slider__wrapper {
                overflow: hidden;
                .slider__btn {
                    display: block;
                    &.slider__btn_prev {
                        left: 50px;
                    }

                    &.slider__btn_next {
                        right: 50px;
                    }
                }
            }
        }
    }
}

.poems-slider {
    &.module {
        .module-content {
            padding-top: 0;
        }
    }
    .slider {
        &.primary {
            background: none;
            margin: 0 -50px;
            padding: 0 40px;
            height: auto;
            .slider__wrapper {
                overflow: hidden;
                padding: 20px 0;
                .slider__btn {
                    display: block;
                    width: 30px;
                    .icon {
                        top: 150px;
                    }
                    &.slider__btn_prev {
                        left: 10px;
                    }

                    &.slider__btn_next {
                        right: 10px;
                    }
                }
                .slider__items {
                    .slider__item {
                        column-gap: 20px;
                        display: flex;
                        padding: 0 10px;
                        .item {
                            align-items: flex-start;
                            margin-bottom: 0;
                            display: flex;
                            height: 280px;
                            flex: 1;
                            .poem-text {
                                justify-content: center;
                                flex-direction: column;
                                min-height: 100%;
                                font-size: 14px;
                                display: flex;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.poem-slider {
    &.module {
        padding-top: 0;
        .module-title {
            align-items: center;
            display: flex;
        }
        .module-content {
            padding: 0;
        }
    }
    .slider {
        &.primary {
            background: none;
            height: auto;
            .slider__wrapper {
                overflow: hidden;
                padding: 20px 0;
                .slider__btn {
                    display: block;
                    width: 30px;
                    .icon {
                        top: 200px;
                    }
                    &.slider__btn_prev {
                        left: 10px;
                    }
                    &.slider__btn_next {
                        right: 10px;
                    }
                }
                .slider__items {
                    .slider__item {
                        text-align: center;
                        .item {
                            align-items: center;
                            display: inline-flex;
                            min-height: 800px;
                            min-width: 450px;
                            width: auto;
                            .poem-text {
                                text-align: left;
                                font-size: 18px;
                                padding: 80px;
                            }
                            &:hover {
                                transform: scale(1);
                                .poem-text {
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.events-slider {
    &.module {
        padding-top: 0;
        .module-nav {
            padding: 0;
            .link-more {
                top: 30px;
            }
        }
        .module-content {
            padding: 0;
        }
    }
    .slider {
        &.primary {
            margin-right: auto;
            margin-left: auto;
            max-width: 1200px;
            background: none;
            padding: 0 100px;
            height: auto;
            .slider__wrapper {
                overflow: hidden;
                padding: 20px 0;
                .slider__btn {
                    display: block;
                    width: 30px;
                    .icon {
                        top: 300px;
                    }
                    &.slider__btn_prev {
                        left: 10px;
                    }
                    &.slider__btn_next {
                        right: 10px;
                    }
                }
                .slider__items {
                    .slider__item {
                        .event-status {
                            justify-content: center;
                            padding-bottom: 20px;
                            align-items: center;
                            font-size: 22px;
                            display: flex;
                            .title {
                                font-family: 'PT_Serif-Bold';
                                font-size: 32px;
                            }
                            .status {
                                font-family: 'PT_Serif-Italic';
                                text-transform: uppercase;
                                display: none;
                            }
                            .divider {
                                padding: 0 10px;
                                color: #808080;
                            }
                            &.active {
                                .active {
                                    display: block;
                                    color: #FFC200;
                                }
                            }
                            &.archive {
                                .archive {
                                    display: block;
                                    color: #808080;
                                }
                            }
                        }
                        .item {
                            .poem-text {
                                text-align: left;
                                font-size: 18px;
                                padding: 80px;
                            }
                            &:hover {
                                transform: scale(1);
                                .poem-text {
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.book-slider {
    &.module {
        padding-top: 0;
        .module-title {
            align-items: center;
            display: flex;
        }
        .module-content {
            padding: 0;
        }
    }
    .slider {
        &.primary {
            background: none;
            height: auto;
            .slider__wrapper {
                overflow: hidden;
                padding: 20px 0;
                .slider__btn {
                    display: block;
                    width: 30px;
                    .icon {
                        top: 500px;
                    }
                    &.slider__btn_prev {
                        left: 10px;
                    }
                    &.slider__btn_next {
                        right: 10px;
                    }
                }
                .slider__items {
                    .slider__item.book {
                        flex-direction: column;
                        align-items: center;
                        display: flex;
                        margin: 0;
                        .book-title {
                            font-family: 'PT_Serif-Bold';
                            text-align: center;
                            padding: 15px 20px;
                            font-size: 24px;
                        }
                        .book-image {
                            width: 700px;
                            .image {
                                display: block;
                                width: 100%;
                            }
                        }
                        .book-buttons {
                            justify-content: space-between;
                            align-items: flex-start;
                            padding-bottom: 30px;
                            padding-top: 20px;
                            display: flex;
                            width: 700px;
                        }
                        .book-content {
                            width: 700px;
                        }
                        &:hover {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}

.main {
    padding-bottom: 140px;
}

.module {
    padding-top: 80px;
    .module-line {
        position: relative;
        height: 0;
        .image {
            position: absolute;
        }
        &.poem-00 {
            .image {
                width: 270px;
                left: -80px;
                top: -30px;
            }
        }
        &.poem-01 {
            .image {
                width: 240px;
                left: -80px;
                top: -30px;
            }
        }
        &.poem-02 {
            .image {
                width: 270px;
                left: -80px;
                top: -70px;
            }
        }
        &.poem-03 {
            .image {
                width: 340px;
                left: -80px;
                top: 10px;
            }
        }
        &.contacts {
            margin: 0 auto;
            width: 700px;
            .image {
                width: 600px;
                right: 720px;
                top: -10px;
            }
        }
        &.cart {
            .image {
                width: 460px;
                left: -160px;
                top: 10px;
            }
        }
    }
    .module-nav {
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 15px 0;
        display: flex;
        .link-more {
            position: absolute;
            left: 0;
        }
        .title {
            font-size: 32px;
        }
        .counter {
            padding-left: 10px;
            padding-top: 5px;
            font-size: 22px;
            color: #808080;
            span {
                &:first-child {
                    color: #FFC200;
                }
            }
        }
        .button {
            position: absolute;
            right: 0;
        }
    }
    .module-center {
        max-width: 1366px;
        padding: 0 30px;
        margin: 0 auto;
        width: 100%;
    }
    .module-title {
        font-family: 'PT_Serif-Bold';
        text-align: center;
        font-size: 50px;
        color: #FFFFFF;
        &.poem-00 {
            color: #D59F4B;
        }
        &.poem-01 {
            color: #549153;
        }
        &.poem-02 {
            color: #9E2D2D;
        }
        &.poem-03 {
            color: #4590A5;
        }
    }
    .module-text {
        font-family: 'PT_Serif-Bold';
        margin-bottom: 20px;
        text-align: center;
        font-size: 23px;
        color: #808080;
    }
    .module-foreword {
        text-align: center;
    }
    .module-content {
        padding-top: 20px;
    }
    .module-more {
        text-align: center;
    }
}

.box {
    &.primary {
        background: #333333;
        border-radius: 10px;
        position: relative;
        padding: 40px;
    }
}

.item {
    &.painting {
        transition: all 500ms;
        margin-bottom: 20px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        display: block;
        .painting-image {
            .image {
                display: block;
                width: 100%;
            }
        }
        .painting-text {
            position: absolute;
            margin-top: -90px;
            color: #FFFFFF;
            display: flex;
            width: 100%;
            z-index: 2;
            top: 100%;
            left: 0;
            .align {
                animation-timing-function: linear;
                padding: 20px 0 20px 40px;
            }
            div {
                white-space: nowrap;
            }
        }
        &:hover {
            transform: scale(1.05);
            .painting-text {
            }
        }
    }
    &.poem {
        transition: all 300ms ease-in;
        background: #333333;
        border-radius: 10px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        font-size: 18px;
        display: block;
        color: #FFFFFF;
        &:after {
            transition: all 300ms ease-in;
            background: #7D5F31;
            position: absolute;
            height: 4px;
            content: '';
            width: 100%;
            left: 0;
            top: 0;
        }
        &.poem-01 {
            &:after {
                background: #335B32;
            }
            .poem-link {
                background: #335B32;
            }
            &:hover {
                &:after {
                    background: #549153;
                }
                .poem-link {
                    background: #549153;
                }
            }
        }
        &.poem-02 {
            &:after {
                background: #732828;
            }
            .poem-link {
                background: #732828;
            }
            &:hover {
                &:after {
                    background: #9E2D2D;
                }
                .poem-link {
                    background: #9E2D2D;
                }
            }
        }
        &.poem-03 {
            &:after {
                background: #346673;
            }
            .poem-link {
                background: #346673;
            }
            &:hover {
                &:after {
                    background: #4590A5;
                }
                .poem-link {
                    background: #4590A5;
                }
            }
        }
        .poem-text {
            transition: all 300ms ease-in;
            padding: 30px 40px;
            font-size: 15px;
            color: #CCCCCC;
        }
        .poem-link {
            transition: all 300ms ease-in;
            padding: 10px 40px;
            .link-more {
                .text {
                    color: #FFFFFF;
                }
            }
        }
        &:hover {
            transform: scale(1.05);
            z-index: 2;
            &:after {
                background: #D59F4B;
            }
            .poem-text {
                background: #4D4D4D;
                color: #FFFFFF;
            }
        }
    }
    &.event {
        flex-direction: column;
        background: #333333;
        border-radius: 10px;
        position: relative;
        display: flex;
        padding: 40px;
        .event-status {
            transform: translateX(-50%);
            justify-content: center;
            border-radius: 10px;
            align-items: center;
            position: absolute;
            font-size: 18px;
            color: #4D4D4D;
            display: none;
            width: 150px;
            height: 36px;
            z-index: 2;
            left: 50%;
            top: 20px;
            div {
                display: none;
            }
        }
        .event-media {
            margin-bottom: 10px;
            position: relative;
            padding-top: 57%;
            overflow: hidden;
            .image {
                transition: all 5000ms;
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
            }
            .frame {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }
        }
        .event-text {
            flex-grow: 1;
            .title {
                font-family: 'PT_Serif-Bold';
                margin-bottom: 10px;
                line-height: 1.2;
                font-size: 32px;
                color: #FFFFFF;
            }
            .text {
                margin-bottom: 20px;
                font-size: 19px;
                color: #CCCCCC;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .event-info {
            line-height: 1.2;
            .location {
                align-items: center;
                display: flex;
                .icons {
                    width: 20px;
                    .image {
                        display: none;
                        width: 100%;
                    }
                }
                .text {
                    padding-left: 10px;
                    font-size: 16px;
                    color: #B2B2B2;
                }
            }
            .date {
                align-items: center;
                margin-top: 20px;
                display: flex;
                .icons {
                    width: 20px;
                    .image {
                        display: block;
                        width: 100%;
                    }
                }
                .text {
                    padding-left: 10px;
                    font-size: 16px;
                    color: #B2B2B2;
                }
            }
        }
        .event-photo {
            padding-top: 20px;
            column-gap: 2%;
            flex-wrap: wrap;
            display: flex;
            img {
                margin-bottom: 2%;
                cursor: pointer;
                width: 32%;
            }
        }
        & + .event {
            margin-top: 20px;
        }
        &.active {
            .event-status {
                display: inline-flex;
                background: #FFC200;
                .active {
                    display: block;
                }
            }
            .event-info {
                .location {
                    .icons {
                        .image {
                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        &.archive {
            .event-status {
                display: inline-flex;
                background: #7F7F7F;
                .archive {
                    display: block;
                }
            }
            .event-info {
                .location {
                    .icons {
                        .image {
                            &.archive {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        &:hover {
            .event-media {
                .image {
                    transform: scale(1.1);
                }
            }
        }
    }
    &.book {
        justify-content: space-between;
        transition: all 300ms ease-in;
        margin: 0 10px 20px;
        display: block;
        .book-image {
            display: block;
            width: 100%;
        }
        .book-content {
            background: #333333;
            border-radius: 10px;
            padding: 40px;
            .quote {
                padding-left: 30px;
            }
            .text {
                margin-bottom: 20px;
                font-size: 19px;
                color: #CCCCCC;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &:hover {
            transform: scale(1.05);
        }
    }
}

.about {
    &.grid {
        display: flex;
        .column {
            position: relative;
            width: 50%;
            &:first-child {
                padding-left: 140px;
                padding-top: 20px;
                .line {
                    width: 460px;
                    left: -150px;
                    top: -50px;
                }
                .title {
                    white-space: nowrap;
                }
            }
            &:last-child {
                padding-top: 240px;
                padding-left: 10px;
                .line {
                    width: 430px;
                    right: -30px;
                    top: 150px;
                }
            }
            .line {
                position: absolute;
            }
            .title {
                font-family: 'Noto_Serif';
                padding-bottom: 20px;
                font-size: 45px;
                line-height: 1.2;
            }
            .text {
                font-size: 19px;
                color: #B2B2B2;
                div {
                    white-space: nowrap;
                }
            }
        }
        & + .item {
            margin: 80px auto 0;
            max-width: 100%;
            width: 700px;
        }
    }
}

.paintings {
    &.grid {
        margin: 0 -10px;
        display: flex;
        .column {
            width: 33.3333%;
            padding: 0 10px;
        }
    }
}

.texts {
    &.grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding-bottom: 20px;
        .item {
            transition: all 300ms ease-in;
            align-items: center;
            background: #333333;
            border-radius: 10px;
            padding: 20px 40px;
            position: relative;
            min-height: 280px;
            overflow: hidden;
            font-size: 18px;
            display: flex;
            color: #FFFFFF;
            &:after {
                transition: all 300ms ease-in;
                background: #7D5F31;
                position: absolute;
                height: 100%;
                content: '';
                width: 4px;
                left: 0;
                top: 0;
            }
            &.black {
                background: #000000;
                font-size: 30px;
            }
            &:hover {
                transform: scale(1.05);
                background: #4D4D4D;
                color: #CCCCCC;
                &:after {
                    background: #D59F4B;
                }
            }
            &.item-01 { grid-area: 1 e("/") 1 e("/") 2 e("/") 2; }
            &.item-02 { grid-area: 1 e("/") 2 e("/") 2 e("/") 3; }
            &.item-03 { grid-area: 1 e("/") 3 e("/") 2 e("/") 4; }
            &.item-04 { grid-area: 1 e("/") 4 e("/") 3 e("/") 5; }
            &.item-05 { grid-area: 2 e("/") 1 e("/") 3 e("/") 3; }
            &.item-06 { grid-area: 2 e("/") 3 e("/") 3 e("/") 4; }
            &.item-07 { grid-area: 3 e("/") 1 e("/") 4 e("/") 2; }
            &.item-08 { grid-area: 3 e("/") 2 e("/") 4 e("/") 3; }
            &.item-09 { grid-area: 3 e("/") 3 e("/") 4 e("/") 5; }
            &.item-10 { grid-area: 4 e("/") 1 e("/") 5 e("/") 2; }
            &.item-11 { grid-area: 4 e("/") 2 e("/") 5 e("/") 3; }
            &.item-12 { grid-area: 4 e("/") 3 e("/") 5 e("/") 4; }
            &.item-13 { grid-area: 4 e("/") 4 e("/") 5 e("/") 5; }
        }
    }
}

.poems {
    &.grid {
        margin: 0 -10px;
        display: flex;
        .column {
            width: 33.3333%;
            padding: 0 10px;
        }
        &.collection {
            .column {
                width: 25%;
            }
        }
    }
}

.events {
    &.grid {
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0 -10px;
        display: flex;
        .column {
            margin-bottom: 20px;
            padding: 0 10px;
            width: 50%;
            .item {
                overflow: hidden;
                height: 100%;
            }
        }
    }
}

.books {
    &.grid {
        margin: 0 -10px;
        display: flex;
    }
    &.page {
        .grid {
            align-items: stretch;
            flex-wrap: wrap;
            .column {
                width: 33.3333%;
                .item {
                    overflow: hidden;
                    height: 100%;
                    .book-image {
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        height: 100%;
                        .image {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &.item {

    }
}

.link-more {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    .text {
        transition: all 300ms;
        font-size: 14px;
        color: #808080;
    }
    .icon {
        width: 10px;
        &:first-child {
            margin-right: 5px;
        }
        &:last-child {
            margin-left: 5px;
        }
        &.intro {
            margin-right: 8px;
            margin-left: 0;
            width: 25px;
        }
    }
    &:hover {
        .text {
            color: #FFFFFF;
        }
    }
}

.block-video {
    margin: 80px auto 0;
    position: relative;
    height: 440px;
    width: 750px;
    .preview {
        justify-content: center;
        align-items: center;
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        z-index: 2;
        left: 0;
        top: 0;
        .preview-image {
            min-height: 100%;
            min-width: 100%;
        }
        .preview-button {
            transform: translate(-50%,-50%);
            position: absolute;
            z-index: 2;
            width: 15%;
            left: 50%;
            top: 50%;
        }
    }
    .frame {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
    }
}

.foreword {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: 0;
    top: 0;
    .shadow {
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 10%, rgba(0,0,0,1) 100%);
        transition: all 500ms;
        position: absolute;
        width: 100vw;
        height: 100%;
        z-index: 1;
        left: 0;
        top: 0;
    }
    .content {
        box-shadow: -20px 0 20px 0 rgba(0,0,0,.5);
        transition: all 500ms;
        background: #4C4C4C;
        padding: 80px 120px;
        position: relative;
        overflow-y: auto;
        height: 100%;
        width: 60vw;
        z-index: 2;
        .close {
            position: absolute;
            cursor: pointer;
            height: 20px;
            width: 20px;
            left: 20px;
            top: 20px;
            .icon {
                transition: all 300ms;
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                &.two {
                    opacity: 0;
                }
            }
            &:hover {
                .icon {
                    &.two {
                        opacity: 1;
                    }
                }
            }
        }
        .align {
            width: 730px;
        }
        .title {
            margin-bottom: 15px;
            font-size: 32px;
            &.bold {
                margin-bottom: 10px;
                margin-left: -15px;
            }
        }
        .text {
            margin-bottom: 30px;
            font-size: 19px;
        }
        .quote {
            padding-left: 30px;
        }
    }
    &.gallery {
        .content {
            border-left: 20px solid #666666;
            .quote {
                border-left: 2px solid #666666;
            }
        }
    }
    &.poem-00 {
        .content {
            border-left: 20px solid #D59F4B;
            .quote {
                border-left: 2px solid #D59F4B;
            }
        }
    }
    &.poem-01 {
        .content {
            border-left: 20px solid #549153;
            .quote {
                border-left: 2px solid #549153;
            }
        }
    }
    &.poem-02 {
        .content {
            border-left: 20px solid #9E2D2D;
            .quote {
                border-left: 2px solid #9E2D2D;
            }
        }
    }
    &.poem-03 {
        .content {
            border-left: 20px solid #4590A5;
            .quote {
                border-left: 2px solid #4590A5;
            }
        }
    }
    &.active {
        .shadow {
            transform: translateX(-100%);
        }
        .content {
            transform: translateX(-100%);
        }
    }
}

.socials {
    display: inline-flex;
    .item {
        position: relative;
        margin: 0 10px;
        height: 50px;
        width: 50px;
        .icon {
            transition: all 300ms ease-in;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            &.two {
                opacity: 0;
            }
        }
        &:hover {
            .icon {
                &.two {
                    opacity: 1;
                }
            }
        }
    }
}

.button {
    &.primary {
        font-family: 'PT_Serif-Regular';
        transition: all 400ms;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        border-radius: 20px;
        padding: 5px 25px;
        min-height: 40px;
        cursor: pointer;
        font-size: 18px;
        .icon {
            margin-right: 8px;
            width: 22px;
        }
        &.green {
            background: #52A762;
            color: #FFFFFF;
        }
        &:hover {
            opacity: .8;
        }
        &.yellow {
            background: #FFC200;
        }
        &:disabled {
            background: #4C4C4C;
            cursor: default;
            color: #9F9F9F;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.contacts {
    &.box {
        &.primary {
            margin: 0 auto;
            width: 700px;
        }
    }
}

.form {
    transition: all 300ms;
    position: relative;
    z-index: 2;
    .form-field {
        margin-bottom: 40px;
        position: relative;
        display: block;
        .field {
            border: 1px solid #999999;
            font-family: inherit;
            background: #4D4D4D;
            border-radius: 5px;
            font-size: 16px;
            display: block;
            color: #FFFFFF;
            width: 100%;
            &:focus, &:not(:empty), &:valid {
                & ~ .name {
                    font-size: 12px;
                    left: 15px;
                    top: 4px;
                }
            }
            &:required:invalid {
                & ~ .error {
                    opacity: 1;
                }
            }
            &.input {
                padding: 0 20px;
                line-height: 50px;
                height: 57px;
            }
            &.text {
                padding: 18px 20px;
                min-height: 155px;
            }
        }
        .name {
            transition: all 300ms;
            position: absolute;
            font-size: 16px;
            color: #B2B2B2;
            left: 13px;
            top: 17px;
        }
        .error {
            transition: all 300ms;
            position: absolute;
            font-size: 11px;
            color: #FF7575;
            bottom: -20px;
            opacity: 0;
            left: 0;
        }
        &.error {
            .error {
                opacity: 1;
            }
        }
        &.checkbox {
            position: relative;
            padding-left: 35px;
            .field {
                display: none;
                &:checked {
                    & ~ .icons {
                        .icon {
                            &.two {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .icons {
                position: absolute;
                height: 25px;
                width: 25px;
                left: 0;
                top: 0;
                .icon {
                    transition: all 300ms;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: -1px;
                    left: 0;
                    &.two {
                        opacity: 0;
                    }
                }
            }
            .text {
                font-size: 16px;
                a {
                    text-decoration: underline;
                    color: #FFFFFF;
                }
            }
        }
    }
    .buttons {
        text-align: center;
        .button {
            margin-bottom: 10px;
        }
        .error {
            transition: all 300ms;
            margin-bottom: -25px;
            font-size: 11px;
            color: #FF7575;
            opacity: 0;
        }
        &.error {
            .error {
                opacity: 1;
            }
        }
    }
    &.send {
        opacity: 0;
        & + .message {
            opacity: 1;
        }
    }
}

.message {
    font-family: 'PT_Serif-Bold';
    justify-content: center;
    transition: all 300ms;
    align-items: center;
    position: absolute;
    font-size: 32px;
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.cart {
    &.grid {
        justify-content: center;
        column-gap: 20px;
        flex-wrap: wrap;
        display: flex;
        .item {
            position: relative;
            border-radius: 0;
            .painting-delete {
                justify-content: center;
                transition: all 300ms;
                align-items: center;
                border-radius: 100%;
                position: absolute;
                cursor: pointer;
                display: flex;
                height: 30px;
                width: 30px;
                right: 15px;
                opacity: 0;
                top: 15px;
                .image {
                    width: 55%;
                }
                &:hover {
                    background: rgba(0,0,0,.5);
                }
            }
            .painting-image {
                border-radius: 5px;
                overflow: hidden;
                height: 300px;
                .image {
                    height: 100%;
                }
            }
            .painting-info {
                .info {
                    padding-right: 15px;
                    padding-top: 5px;
                    font-size: 14px;
                    color: #808080;
                }
            }
            &:hover {
                .painting-delete {
                    opacity: 1;
                }
            }
        }
    }
}

.footer {
    padding-bottom: 140px;
    text-align: center;
    .logo {
        padding-bottom: 30px;
        .logo-link {
            display: block;
            .logo-icon {
                display: inline-block;
                width: 100px;
                .icon {
                    display: block;
                    width: 100%;
                }
            }
            .logo-text {
                .name {
                    font-family: 'Noto_Serif';
                    padding-bottom: 5px;
                    padding-top: 10px;
                    font-size: 28px;
                    line-height: 1;
                    color: #FFFFFF;
                }
            }
        }
    }
}




@keyframes gallery-image-move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(180px);
    }
}

























































