* {
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: none;
  padding: 0;
  margin: 0;
}
body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'PT_Serif-Regular';
    background: #333333;
    line-height: 1.45;
    font-size: 16px;
    color: #FFFFFF;
}
body.overflow {
    padding-right: 16px;
    overflow: hidden;
    height: 100vh;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 3vw;
    }
}
b,
strong {
    font-family: 'PT_Serif-Bold';
}
table {
    border-collapse: collapse;
}
h1,
h2,
h3,
h4,
b,
strong {
    font-weight: normal;
}
button {
    cursor: pointer;
}
i {
    font-family: 'PT_Serif-Italic';
}
a {
    text-decoration: none;
}
img {
    image-rendering: -webkit-optimize-contrast;
}
@font-face {
    font-family: 'Noto_Serif';
    src: url(/fonts/Noto_Serif.eot);
    src: url(/fonts/Noto_Serif.eot?#iefix) format("embedded-opentype"), url(/fonts/Noto_Serif.woff) format("woff"), url(/fonts/Noto_Serif.ttf) format("truetype");
}
@font-face {
    font-family: 'PT_Serif-Bold';
    src: url(/fonts/PT_Serif-Bold.eot);
    src: url(/fonts/PT_Serif-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/PT_Serif-Bold.woff) format("woff"), url(/fonts/PT_Serif-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'PT_Serif-Bold';
    src: url(/fonts/PT_Serif-Bold.eot);
    src: url(/fonts/PT_Serif-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/PT_Serif-Bold.woff) format("woff"), url(/fonts/PT_Serif-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'PT_Serif-BoldItalic';
    src: url(/fonts/PT_Serif-BoldItalic.eot);
    src: url(/fonts/PT_Serif-BoldItalic.eot?#iefix) format("embedded-opentype"), url(/fonts/PT_Serif-BoldItalic.woff) format("woff"), url(/fonts/PT_Serif-BoldItalic.ttf) format("truetype");
}
@font-face {
    font-family: 'PT_Serif-Italic';
    src: url(/fonts/PT_Serif-Italic.eot);
    src: url(/fonts/PT_Serif-Italic.eot?#iefix) format("embedded-opentype"), url(/fonts/PT_Serif-Italic.woff) format("woff"), url(/fonts/PT_Serif-Italic.ttf) format("truetype");
}
@font-face {
    font-family: 'PT_Serif-Regular';
    src: url(/fonts/PT_Serif-Regular.eot);
    src: url(/fonts/PT_Serif-Regular.eot?#iefix) format("embedded-opentype"), url(/fonts/PT_Serif-Regular.woff) format("woff"), url(/fonts/PT_Serif-Regular.ttf) format("truetype");
}
.noto {
    font-family: 'Noto_Serif';
}
.regular {
    font-family: 'PT_Serif-Regular';
}
.bold {
    font-family: 'PT_Serif-Bold';
}
.italic {
    font-family: 'PT_Serif-Italic';
}
.wrap {
    background: #191919;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .wrap {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
.header {
    background: #333333;
    position: relative;
    z-index: 9;
}
.header .center {
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1366px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    height: 70px;
    width: 100%;
    z-index: 3;
}
.header .logo {
    position: relative;
    z-index: 2;
}
.header .logo .logo-link {
    align-items: center;
    color: #FFFFFF;
    display: flex;
}
.header .logo .logo-link .logo-icon .icon {
    display: block;
    width: 35px;
}
.header .logo .logo-link .logo-text {
    white-space: nowrap;
    padding-left: 10px;
}
.header .logo .logo-link .logo-text .name {
    font-family: 'Noto_Serif';
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 1;
}
.header .logo .logo-link .logo-text .legend {
    font-family: 'PT_Serif-Italic';
    font-size: 15px;
}
.header .menu {
    display: flex;
    height: 100%;
}
.header .menu .menu-list {
    display: flex;
    height: 100%;
}
.header .menu .menu-item {
    align-items: center;
    position: relative;
    display: flex;
}
.header .menu .menu-item .item-link {
    transition: all 300ms;
    padding: 0 15px;
    color: #FFFFFF;
}
.header .menu .menu-item:after {
    transition: all 300ms;
    position: absolute;
    background: #FFC200;
    content: '';
    height: 3px;
    bottom: 0;
    left: 50%;
    width: 0;
}
.header .menu .menu-item:hover .item-link,
.header .menu .menu-item.checked .item-link {
    color: #FFC200;
}
.header .menu .menu-item:hover:after,
.header .menu .menu-item.checked:after {
    width: 100%;
    left: 0;
}
.header .cart {
    position: relative;
    display: flex;
    height: 100%;
}
.header .cart .menu-item {
    padding: 0 15px;
}
.header .cart .menu-item .cart-icon {
    position: relative;
}
.header .cart .menu-item .cart-icon .icon {
    width: 30px;
}
.header .cart .menu-item .cart-icon .icon.active {
    display: none;
}
.header .cart .menu-item .cart-value {
    background: #52A762;
    border-radius: 100%;
    position: absolute;
    font-family: Arial;
    line-height: 1.3;
    font-size: 13px;
    color: #FFFFFF;
    padding: 0 6px;
    display: none;
    bottom: -5px;
    right: -5px;
}
.header .cart .menu-item.active .cart-icon .icon.active {
    display: block;
}
.header .cart .menu-item.active .cart-icon .icon.empty {
    display: none;
}
.header .cart .menu-item.active .cart-value {
    display: block;
}
.header .cart .cart-popup {
    box-shadow: 0 0 30px 10px #000000;
    flex-direction: column;
    transition: all 400ms;
    align-items: center;
    background: #4D4D4D;
    border-radius: 10px;
    position: absolute;
    min-width: 250px;
    overflow: hidden;
    opacity: 0;
    display: flex;
    right: -31px;
    top: 90px;
}
.header .cart .cart-popup .pointer {
    position: absolute;
    bottom: 100%;
    right: 50px;
    width: 20px;
}
.header .cart .cart-popup .painting {
    justify-content: center;
    display: flex;
    width: 100%;
}
.header .cart .cart-popup .painting .image {
    max-height: 150px;
    max-width: 100%;
    display: block;
}
.header .cart .cart-popup .add {
    padding: 10px 0 5px;
    font-size: 14px;
    color: #FFC200;
}
.header .cart .cart-popup.active {
    overflow: visible;
    padding: 20px;
    opacity: 1;
}
.header.index .center {
    height: 100px;
}
.header.index .logo-link .logo-icon .icon {
    width: 50px;
}
.header.index .logo-link .logo-text .name {
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 28px;
}
.slider {
    position: relative;
    overflow: hidden;
}
.slider.primary {
    background: #000000;
    font-size: 0;
    height: 360px;
}
.slider.primary .slider__wrapper {
    height: 100%;
}
.slider.primary .slider__wrapper .slider__items {
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
    counter-reset: slide;
    display: flex;
    height: 100%;
}
.slider.primary .slider__wrapper .slider__items .slider__item {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
    position: relative;
    max-width: 100%;
    flex: 0 0 100%;
    height: 100%;
}
.slider.primary .slider__wrapper .slider__items .slider__item.video .center {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.slider.primary .slider__wrapper .slider__items .slider__item.video .banner-text {
    width: 49%;
}
.slider.primary .slider__wrapper .slider__items .slider__item.video .banner-video {
    position: relative;
    height: 100%;
    width: 49%;
}
.slider.primary .slider__wrapper .slider__items .slider__item.video .banner-video .preview {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;
}
.slider.primary .slider__wrapper .slider__items .slider__item.video .banner-video .preview .preview-image {
    min-height: 100%;
    min-width: 100%;
}
.slider.primary .slider__wrapper .slider__items .slider__item.video .banner-video .preview .preview-button {
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    width: 15%;
    left: 50%;
    top: 50%;
}
.slider.primary .slider__wrapper .slider__items .slider__item.video .banner-video .frame {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}
.slider.primary .slider__wrapper .slider__items .slider__item .banner {
    align-items: center;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}
.slider.primary .slider__wrapper .slider__items .slider__item .center {
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    max-width: 1366px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.slider.primary .slider__wrapper .slider__items .slider__item .banner-image {
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.slider.primary .slider__wrapper .slider__items .slider__item .banner-image img {
    transition: all 5000ms;
    display: block;
    width: 100%;
}
.slider.primary .slider__wrapper .slider__items .slider__item .banner-image:after {
    background-image: url("/jpg/banner_shadow.png");
    background-repeat: repeat-x;
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    z-index: 2;
    bottom: 0;
    left: 0;
}
.slider.primary .slider__wrapper .slider__items .slider__item .banner-text {
    padding-bottom: 40px;
    color: #FFFFFF;
}
.slider.primary .slider__wrapper .slider__items .slider__item .banner-text .title {
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 32px;
}
.slider.primary .slider__wrapper .slider__items .slider__item .banner-text .text {
    margin-bottom: 10px;
    font-size: 19px;
}
.slider.primary .slider__wrapper .slider__items .slider__item .banner-text .location {
    display: flex;
}
.slider.primary .slider__wrapper .slider__items .slider__item .banner-text .location img {
    width: 20px;
}
.slider.primary .slider__wrapper .slider__items .slider__item .banner-text .location div {
    padding-left: 10px;
    font-size: 16px;
}
.slider.primary .slider__wrapper .slider__btn {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    height: 100%;
    width: 50px;
    top: 0;
}
.slider.primary .slider__wrapper .slider__btn .icon {
    position: absolute;
    width: 50%;
    top: 300px;
    left: 25%;
}
.slider.primary .slider__wrapper .slider__btn .icon.two {
    opacity: 0;
}
.slider.primary .slider__wrapper .slider__btn:hover .icon.two {
    opacity: 1;
}
.slider.primary .slider__wrapper .slider__btn.slider__btn_prev {
    left: 15px;
}
.slider.primary .slider__wrapper .slider__btn.slider__btn_next {
    right: 15px;
}
.slider.primary .slider__wrapper .slider__indicators {
    transform: translate(-50%);
    position: absolute;
    display: none;
    bottom: 30px;
    z-index: 2;
    left: 50%;
}
.slider.primary .slider__wrapper .slider__indicators .slider__indicator {
    transition: all 300ms;
    background: #fff;
    border-radius: 100%;
    margin: 0 10px;
    height: 10px;
    width: 10px;
}
.slider.primary .slider__wrapper .slider__indicators .slider__indicator.slider__indicator_active {
    background: #FF8200;
}
.slider.index .slider__wrapper .slider__items .slider__item:hover .banner .banner-image img {
    transform: scale(1.1);
}
.popup {
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    transition: all 400ms;
    align-items: center;
    overflow: hidden;
    position: fixed;
    display: flex;
    height: 100vh;
    z-index: 20;
    padding: 0;
    width: 0;
    right: 0;
    top: 0;
}
.popup.active {
    padding: 2% 5%;
    width: 100vw;
}
.popup .close {
    position: absolute;
    cursor: pointer;
    height: 20px;
    width: 20px;
    right: 50px;
    z-index: 2;
    top: 20px;
}
.popup .close .icon {
    transition: all 300ms;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.popup .close .icon.two {
    opacity: 0;
}
.popup .close:hover .icon.two {
    opacity: 1;
}
.popup .slider.primary {
    height: 100%;
    opacity: 0;
}
.popup .slider.primary .slider__wrapper {
    overflow: hidden;
}
.popup .slider.primary .slider__wrapper .slider__items .slider__item {
    justify-content: center;
    align-items: center;
    display: flex;
}
.popup .slider.primary .slider__wrapper .slider__items .slider__item img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}
.popup .slider.primary .slider__wrapper .slider__btn {
    display: block;
}
.popup .slider.primary .slider__wrapper .slider__btn .icon {
    transform: translateY(-50%);
    top: 50%;
}
.gallery-slider.module {
    padding-top: 0;
}
.gallery-slider.module .module-title {
    align-items: center;
    display: flex;
}
.gallery-slider.module .module-content {
    margin: 0 -120px;
    padding: 0;
}
.gallery-slider .painting {
    justify-content: center;
    align-items: flex-start;
    position: relative;
    display: flex;
}
.gallery-slider .painting .painting-text {
    background: #333333;
    align-items: center;
    min-height: 600px;
    margin-top: 60px;
    font-size: 18px;
    color: #808080;
    padding: 40px;
    display: flex;
    z-index: 1;
}
.gallery-slider .painting .painting-text:hover + .painting-image {
    transform: translateX(180px);
}
.gallery-slider .painting .painting-image {
    transition: all 400ms;
    margin-left: -200px;
    position: relative;
    max-width: 100%;
    z-index: 2;
}
.gallery-slider .painting .painting-image .image {
    max-width: 100%;
    max-height: 65vh;
}
.gallery-slider .painting .painting-info {
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    display: flex;
}
.gallery-slider .painting .painting-info .info {
    padding-right: 15px;
    text-align: right;
    font-size: 14px;
    color: #808080;
}
.gallery-slider .slider.primary {
    background: none;
    padding: 0 120px;
    height: auto;
}
.gallery-slider .slider.primary .slider__wrapper {
    overflow: hidden;
}
.gallery-slider .slider.primary .slider__wrapper .slider__btn {
    display: block;
}
.gallery-slider .slider.primary .slider__wrapper .slider__btn.slider__btn_prev {
    left: 50px;
}
.gallery-slider .slider.primary .slider__wrapper .slider__btn.slider__btn_next {
    right: 50px;
}
.poems-slider.module .module-content {
    padding-top: 0;
}
.poems-slider .slider.primary {
    background: none;
    margin: 0 -50px;
    padding: 0 40px;
    height: auto;
}
.poems-slider .slider.primary .slider__wrapper {
    overflow: hidden;
    padding: 20px 0;
}
.poems-slider .slider.primary .slider__wrapper .slider__btn {
    display: block;
    width: 30px;
}
.poems-slider .slider.primary .slider__wrapper .slider__btn .icon {
    top: 150px;
}
.poems-slider .slider.primary .slider__wrapper .slider__btn.slider__btn_prev {
    left: 10px;
}
.poems-slider .slider.primary .slider__wrapper .slider__btn.slider__btn_next {
    right: 10px;
}
.poems-slider .slider.primary .slider__wrapper .slider__items .slider__item {
    column-gap: 20px;
    display: flex;
    padding: 0 10px;
}
.poems-slider .slider.primary .slider__wrapper .slider__items .slider__item .item {
    align-items: flex-start;
    margin-bottom: 0;
    display: flex;
    height: 280px;
    flex: 1;
}
.poems-slider .slider.primary .slider__wrapper .slider__items .slider__item .item .poem-text {
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    font-size: 14px;
    display: flex;
    width: 100%;
}
.poem-slider.module {
    padding-top: 0;
}
.poem-slider.module .module-title {
    align-items: center;
    display: flex;
}
.poem-slider.module .module-content {
    padding: 0;
}
.poem-slider .slider.primary {
    background: none;
    height: auto;
}
.poem-slider .slider.primary .slider__wrapper {
    overflow: hidden;
    padding: 20px 0;
}
.poem-slider .slider.primary .slider__wrapper .slider__btn {
    display: block;
    width: 30px;
}
.poem-slider .slider.primary .slider__wrapper .slider__btn .icon {
    top: 200px;
}
.poem-slider .slider.primary .slider__wrapper .slider__btn.slider__btn_prev {
    left: 10px;
}
.poem-slider .slider.primary .slider__wrapper .slider__btn.slider__btn_next {
    right: 10px;
}
.poem-slider .slider.primary .slider__wrapper .slider__items .slider__item {
    text-align: center;
}
.poem-slider .slider.primary .slider__wrapper .slider__items .slider__item .item {
    align-items: center;
    display: inline-flex;
    min-height: 800px;
    min-width: 450px;
    width: auto;
}
.poem-slider .slider.primary .slider__wrapper .slider__items .slider__item .item .poem-text {
    text-align: left;
    font-size: 18px;
    padding: 80px;
}
.poem-slider .slider.primary .slider__wrapper .slider__items .slider__item .item:hover {
    transform: scale(1);
}
.poem-slider .slider.primary .slider__wrapper .slider__items .slider__item .item:hover .poem-text {
    background: transparent;
}
.events-slider.module {
    padding-top: 0;
}
.events-slider.module .module-nav {
    padding: 0;
}
.events-slider.module .module-nav .link-more {
    top: 30px;
}
.events-slider.module .module-content {
    padding: 0;
}
.events-slider .slider.primary {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    background: none;
    padding: 0 100px;
    height: auto;
}
.events-slider .slider.primary .slider__wrapper {
    overflow: hidden;
    padding: 20px 0;
}
.events-slider .slider.primary .slider__wrapper .slider__btn {
    display: block;
    width: 30px;
}
.events-slider .slider.primary .slider__wrapper .slider__btn .icon {
    top: 300px;
}
.events-slider .slider.primary .slider__wrapper .slider__btn.slider__btn_prev {
    left: 10px;
}
.events-slider .slider.primary .slider__wrapper .slider__btn.slider__btn_next {
    right: 10px;
}
.events-slider .slider.primary .slider__wrapper .slider__items .slider__item .event-status {
    justify-content: center;
    padding-bottom: 20px;
    align-items: center;
    font-size: 22px;
    display: flex;
}
.events-slider .slider.primary .slider__wrapper .slider__items .slider__item .event-status .title {
    font-family: 'PT_Serif-Bold';
    font-size: 32px;
}
.events-slider .slider.primary .slider__wrapper .slider__items .slider__item .event-status .status {
    font-family: 'PT_Serif-Italic';
    text-transform: uppercase;
    display: none;
}
.events-slider .slider.primary .slider__wrapper .slider__items .slider__item .event-status .divider {
    padding: 0 10px;
    color: #808080;
}
.events-slider .slider.primary .slider__wrapper .slider__items .slider__item .event-status.active .active {
    display: block;
    color: #FFC200;
}
.events-slider .slider.primary .slider__wrapper .slider__items .slider__item .event-status.archive .archive {
    display: block;
    color: #808080;
}
.events-slider .slider.primary .slider__wrapper .slider__items .slider__item .item .poem-text {
    text-align: left;
    font-size: 18px;
    padding: 80px;
}
.events-slider .slider.primary .slider__wrapper .slider__items .slider__item .item:hover {
    transform: scale(1);
}
.events-slider .slider.primary .slider__wrapper .slider__items .slider__item .item:hover .poem-text {
    background: transparent;
}
.book-slider.module {
    padding-top: 0;
}
.book-slider.module .module-title {
    align-items: center;
    display: flex;
}
.book-slider.module .module-content {
    padding: 0;
}
.book-slider .slider.primary {
    background: none;
    height: auto;
}
.book-slider .slider.primary .slider__wrapper {
    overflow: hidden;
    padding: 20px 0;
}
.book-slider .slider.primary .slider__wrapper .slider__btn {
    display: block;
    width: 30px;
}
.book-slider .slider.primary .slider__wrapper .slider__btn .icon {
    top: 500px;
}
.book-slider .slider.primary .slider__wrapper .slider__btn.slider__btn_prev {
    left: 10px;
}
.book-slider .slider.primary .slider__wrapper .slider__btn.slider__btn_next {
    right: 10px;
}
.book-slider .slider.primary .slider__wrapper .slider__items .slider__item.book {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 0;
}
.book-slider .slider.primary .slider__wrapper .slider__items .slider__item.book .book-title {
    font-family: 'PT_Serif-Bold';
    text-align: center;
    padding: 15px 20px;
    font-size: 24px;
}
.book-slider .slider.primary .slider__wrapper .slider__items .slider__item.book .book-image {
    width: 700px;
}
.book-slider .slider.primary .slider__wrapper .slider__items .slider__item.book .book-image .image {
    display: block;
    width: 100%;
}
.book-slider .slider.primary .slider__wrapper .slider__items .slider__item.book .book-buttons {
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px;
    padding-top: 20px;
    display: flex;
    width: 700px;
}
.book-slider .slider.primary .slider__wrapper .slider__items .slider__item.book .book-content {
    width: 700px;
}
.book-slider .slider.primary .slider__wrapper .slider__items .slider__item.book:hover {
    transform: scale(1);
}
.main {
    padding-bottom: 140px;
}
.module {
    padding-top: 80px;
}
.module .module-line {
    position: relative;
    height: 0;
}
.module .module-line .image {
    position: absolute;
}
.module .module-line.poem-00 .image {
    width: 270px;
    left: -80px;
    top: -30px;
}
.module .module-line.poem-01 .image {
    width: 240px;
    left: -80px;
    top: -30px;
}
.module .module-line.poem-02 .image {
    width: 270px;
    left: -80px;
    top: -70px;
}
.module .module-line.poem-03 .image {
    width: 340px;
    left: -80px;
    top: 10px;
}
.module .module-line.contacts {
    margin: 0 auto;
    width: 700px;
}
.module .module-line.contacts .image {
    width: 600px;
    right: 720px;
    top: -10px;
}
.module .module-line.cart .image {
    width: 460px;
    left: -160px;
    top: 10px;
}
.module .module-nav {
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px 0;
    display: flex;
}
.module .module-nav .link-more {
    position: absolute;
    left: 0;
}
.module .module-nav .title {
    font-size: 32px;
}
.module .module-nav .counter {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 22px;
    color: #808080;
}
.module .module-nav .counter span:first-child {
    color: #FFC200;
}
.module .module-nav .button {
    position: absolute;
    right: 0;
}
.module .module-center {
    max-width: 1366px;
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
}
.module .module-title {
    font-family: 'PT_Serif-Bold';
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
}
.module .module-title.poem-00 {
    color: #D59F4B;
}
.module .module-title.poem-01 {
    color: #549153;
}
.module .module-title.poem-02 {
    color: #9E2D2D;
}
.module .module-title.poem-03 {
    color: #4590A5;
}
.module .module-text {
    font-family: 'PT_Serif-Bold';
    margin-bottom: 20px;
    text-align: center;
    font-size: 23px;
    color: #808080;
}
.module .module-foreword {
    text-align: center;
}
.module .module-content {
    padding-top: 20px;
}
.module .module-more {
    text-align: center;
}
.box.primary {
    background: #333333;
    border-radius: 10px;
    position: relative;
    padding: 40px;
}
.item.painting {
    transition: all 500ms;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.item.painting .painting-image .image {
    display: block;
    width: 100%;
}
.item.painting .painting-text {
    position: absolute;
    margin-top: -90px;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    z-index: 2;
    top: 100%;
    left: 0;
}
.item.painting .painting-text .align {
    animation-timing-function: linear;
    padding: 20px 0 20px 40px;
}
.item.painting .painting-text div {
    white-space: nowrap;
}
.item.painting:hover {
    transform: scale(1.05);
}
.item.poem {
    transition: all 300ms ease-in;
    background: #333333;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    display: block;
    color: #FFFFFF;
}
.item.poem:after {
    transition: all 300ms ease-in;
    background: #7D5F31;
    position: absolute;
    height: 4px;
    content: '';
    width: 100%;
    left: 0;
    top: 0;
}
.item.poem.poem-01:after {
    background: #335B32;
}
.item.poem.poem-01 .poem-link {
    background: #335B32;
}
.item.poem.poem-01:hover:after {
    background: #549153;
}
.item.poem.poem-01:hover .poem-link {
    background: #549153;
}
.item.poem.poem-02:after {
    background: #732828;
}
.item.poem.poem-02 .poem-link {
    background: #732828;
}
.item.poem.poem-02:hover:after {
    background: #9E2D2D;
}
.item.poem.poem-02:hover .poem-link {
    background: #9E2D2D;
}
.item.poem.poem-03:after {
    background: #346673;
}
.item.poem.poem-03 .poem-link {
    background: #346673;
}
.item.poem.poem-03:hover:after {
    background: #4590A5;
}
.item.poem.poem-03:hover .poem-link {
    background: #4590A5;
}
.item.poem .poem-text {
    transition: all 300ms ease-in;
    padding: 30px 40px;
    font-size: 15px;
    color: #CCCCCC;
}
.item.poem .poem-link {
    transition: all 300ms ease-in;
    padding: 10px 40px;
}
.item.poem .poem-link .link-more .text {
    color: #FFFFFF;
}
.item.poem:hover {
    transform: scale(1.05);
    z-index: 2;
}
.item.poem:hover:after {
    background: #D59F4B;
}
.item.poem:hover .poem-text {
    background: #4D4D4D;
    color: #FFFFFF;
}
.item.event {
    flex-direction: column;
    background: #333333;
    border-radius: 10px;
    position: relative;
    display: flex;
    padding: 40px;
}
.item.event .event-status {
    transform: translateX(-50%);
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    font-size: 18px;
    color: #4D4D4D;
    display: none;
    width: 150px;
    height: 36px;
    z-index: 2;
    left: 50%;
    top: 20px;
}
.item.event .event-status div {
    display: none;
}
.item.event .event-media {
    margin-bottom: 10px;
    position: relative;
    padding-top: 57%;
    overflow: hidden;
}
.item.event .event-media .image {
    transition: all 5000ms;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.item.event .event-media .frame {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.item.event .event-text {
    flex-grow: 1;
}
.item.event .event-text .title {
    font-family: 'PT_Serif-Bold';
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 32px;
    color: #FFFFFF;
}
.item.event .event-text .text {
    margin-bottom: 20px;
    font-size: 19px;
    color: #CCCCCC;
}
.item.event .event-text .text:last-child {
    margin-bottom: 0;
}
.item.event .event-info {
    line-height: 1.2;
}
.item.event .event-info .location {
    align-items: center;
    display: flex;
}
.item.event .event-info .location .icons {
    width: 20px;
}
.item.event .event-info .location .icons .image {
    display: none;
    width: 100%;
}
.item.event .event-info .location .text {
    padding-left: 10px;
    font-size: 16px;
    color: #B2B2B2;
}
.item.event .event-info .date {
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.item.event .event-info .date .icons {
    width: 20px;
}
.item.event .event-info .date .icons .image {
    display: block;
    width: 100%;
}
.item.event .event-info .date .text {
    padding-left: 10px;
    font-size: 16px;
    color: #B2B2B2;
}
.item.event .event-photo {
    padding-top: 20px;
    column-gap: 2%;
    flex-wrap: wrap;
    display: flex;
}
.item.event .event-photo img {
    margin-bottom: 2%;
    cursor: pointer;
    width: 32%;
}
.item.event + .event {
    margin-top: 20px;
}
.item.event.active .event-status {
    display: inline-flex;
    background: #FFC200;
}
.item.event.active .event-status .active {
    display: block;
}
.item.event.active .event-info .location .icons .image.active {
    display: block;
}
.item.event.archive .event-status {
    display: inline-flex;
    background: #7F7F7F;
}
.item.event.archive .event-status .archive {
    display: block;
}
.item.event.archive .event-info .location .icons .image.archive {
    display: block;
}
.item.event:hover .event-media .image {
    transform: scale(1.1);
}
.item.book {
    justify-content: space-between;
    transition: all 300ms ease-in;
    margin: 0 10px 20px;
    display: block;
}
.item.book .book-image {
    display: block;
    width: 100%;
}
.item.book .book-content {
    background: #333333;
    border-radius: 10px;
    padding: 40px;
}
.item.book .book-content .quote {
    padding-left: 30px;
}
.item.book .book-content .text {
    margin-bottom: 20px;
    font-size: 19px;
    color: #CCCCCC;
}
.item.book .book-content .text:last-child {
    margin-bottom: 0;
}
.item.book:hover {
    transform: scale(1.05);
}
.about.grid {
    display: flex;
}
.about.grid .column {
    position: relative;
    width: 50%;
}
.about.grid .column:first-child {
    padding-left: 140px;
    padding-top: 20px;
}
.about.grid .column:first-child .line {
    width: 460px;
    left: -150px;
    top: -50px;
}
.about.grid .column:first-child .title {
    white-space: nowrap;
}
.about.grid .column:last-child {
    padding-top: 240px;
    padding-left: 10px;
}
.about.grid .column:last-child .line {
    width: 430px;
    right: -30px;
    top: 150px;
}
.about.grid .column .line {
    position: absolute;
}
.about.grid .column .title {
    font-family: 'Noto_Serif';
    padding-bottom: 20px;
    font-size: 45px;
    line-height: 1.2;
}
.about.grid .column .text {
    font-size: 19px;
    color: #B2B2B2;
}
.about.grid .column .text div {
    white-space: nowrap;
}
.about.grid + .item {
    margin: 80px auto 0;
    max-width: 100%;
    width: 700px;
}
.paintings.grid {
    margin: 0 -10px;
    display: flex;
}
.paintings.grid .column {
    width: 33.3333%;
    padding: 0 10px;
}
.texts.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-bottom: 20px;
}
.texts.grid .item {
    transition: all 300ms ease-in;
    align-items: center;
    background: #333333;
    border-radius: 10px;
    padding: 20px 40px;
    position: relative;
    min-height: 280px;
    overflow: hidden;
    font-size: 18px;
    display: flex;
    color: #FFFFFF;
}
.texts.grid .item:after {
    transition: all 300ms ease-in;
    background: #7D5F31;
    position: absolute;
    height: 100%;
    content: '';
    width: 4px;
    left: 0;
    top: 0;
}
.texts.grid .item.black {
    background: #000000;
    font-size: 30px;
}
.texts.grid .item:hover {
    transform: scale(1.05);
    background: #4D4D4D;
    color: #CCCCCC;
}
.texts.grid .item:hover:after {
    background: #D59F4B;
}
.texts.grid .item.item-01 {
    grid-area: 1 / 1 / 2 / 2;
}
.texts.grid .item.item-02 {
    grid-area: 1 / 2 / 2 / 3;
}
.texts.grid .item.item-03 {
    grid-area: 1 / 3 / 2 / 4;
}
.texts.grid .item.item-04 {
    grid-area: 1 / 4 / 3 / 5;
}
.texts.grid .item.item-05 {
    grid-area: 2 / 1 / 3 / 3;
}
.texts.grid .item.item-06 {
    grid-area: 2 / 3 / 3 / 4;
}
.texts.grid .item.item-07 {
    grid-area: 3 / 1 / 4 / 2;
}
.texts.grid .item.item-08 {
    grid-area: 3 / 2 / 4 / 3;
}
.texts.grid .item.item-09 {
    grid-area: 3 / 3 / 4 / 5;
}
.texts.grid .item.item-10 {
    grid-area: 4 / 1 / 5 / 2;
}
.texts.grid .item.item-11 {
    grid-area: 4 / 2 / 5 / 3;
}
.texts.grid .item.item-12 {
    grid-area: 4 / 3 / 5 / 4;
}
.texts.grid .item.item-13 {
    grid-area: 4 / 4 / 5 / 5;
}
.poems.grid {
    margin: 0 -10px;
    display: flex;
}
.poems.grid .column {
    width: 33.3333%;
    padding: 0 10px;
}
.poems.grid.collection .column {
    width: 25%;
}
.events.grid {
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -10px;
    display: flex;
}
.events.grid .column {
    margin-bottom: 20px;
    padding: 0 10px;
    width: 50%;
}
.events.grid .column .item {
    overflow: hidden;
    height: 100%;
}
.books.grid {
    margin: 0 -10px;
    display: flex;
}
.books.page .grid {
    align-items: stretch;
    flex-wrap: wrap;
}
.books.page .grid .column {
    width: 33.3333%;
}
.books.page .grid .column .item {
    overflow: hidden;
    height: 100%;
}
.books.page .grid .column .item .book-image {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}
.books.page .grid .column .item .book-image .image {
    display: block;
    width: 100%;
}
.link-more {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.link-more .text {
    transition: all 300ms;
    font-size: 14px;
    color: #808080;
}
.link-more .icon {
    width: 10px;
}
.link-more .icon:first-child {
    margin-right: 5px;
}
.link-more .icon:last-child {
    margin-left: 5px;
}
.link-more .icon.intro {
    margin-right: 8px;
    margin-left: 0;
    width: 25px;
}
.link-more:hover .text {
    color: #FFFFFF;
}
.block-video {
    margin: 80px auto 0;
    position: relative;
    height: 440px;
    width: 750px;
}
.block-video .preview {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;
}
.block-video .preview .preview-image {
    min-height: 100%;
    min-width: 100%;
}
.block-video .preview .preview-button {
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    width: 15%;
    left: 50%;
    top: 50%;
}
.block-video .frame {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}
.foreword {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: 0;
    top: 0;
}
.foreword .shadow {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 10%, #000000 100%);
    transition: all 500ms;
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}
.foreword .content {
    box-shadow: -20px 0 20px 0 rgba(0, 0, 0, 0.5);
    transition: all 500ms;
    background: #4C4C4C;
    padding: 80px 120px;
    position: relative;
    overflow-y: auto;
    height: 100%;
    width: 60vw;
    z-index: 2;
}
.foreword .content .close {
    position: absolute;
    cursor: pointer;
    height: 20px;
    width: 20px;
    left: 20px;
    top: 20px;
}
.foreword .content .close .icon {
    transition: all 300ms;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.foreword .content .close .icon.two {
    opacity: 0;
}
.foreword .content .close:hover .icon.two {
    opacity: 1;
}
.foreword .content .align {
    width: 730px;
}
.foreword .content .title {
    margin-bottom: 15px;
    font-size: 32px;
}
.foreword .content .title.bold {
    margin-bottom: 10px;
    margin-left: -15px;
}
.foreword .content .text {
    margin-bottom: 30px;
    font-size: 19px;
}
.foreword .content .quote {
    padding-left: 30px;
}
.foreword.gallery .content {
    border-left: 20px solid #666666;
}
.foreword.gallery .content .quote {
    border-left: 2px solid #666666;
}
.foreword.poem-00 .content {
    border-left: 20px solid #D59F4B;
}
.foreword.poem-00 .content .quote {
    border-left: 2px solid #D59F4B;
}
.foreword.poem-01 .content {
    border-left: 20px solid #549153;
}
.foreword.poem-01 .content .quote {
    border-left: 2px solid #549153;
}
.foreword.poem-02 .content {
    border-left: 20px solid #9E2D2D;
}
.foreword.poem-02 .content .quote {
    border-left: 2px solid #9E2D2D;
}
.foreword.poem-03 .content {
    border-left: 20px solid #4590A5;
}
.foreword.poem-03 .content .quote {
    border-left: 2px solid #4590A5;
}
.foreword.active .shadow {
    transform: translateX(-100%);
}
.foreword.active .content {
    transform: translateX(-100%);
}
.socials {
    display: inline-flex;
}
.socials .item {
    position: relative;
    margin: 0 10px;
    height: 50px;
    width: 50px;
}
.socials .item .icon {
    transition: all 300ms ease-in;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.socials .item .icon.two {
    opacity: 0;
}
.socials .item:hover .icon.two {
    opacity: 1;
}
.button.primary {
    font-family: 'PT_Serif-Regular';
    transition: all 400ms;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 20px;
    padding: 5px 25px;
    min-height: 40px;
    cursor: pointer;
    font-size: 18px;
}
.button.primary .icon {
    margin-right: 8px;
    width: 22px;
}
.button.primary.green {
    background: #52A762;
    color: #FFFFFF;
}
.button.primary:hover {
    opacity: .8;
}
.button.primary.yellow {
    background: #FFC200;
}
.button.primary:disabled {
    background: #4C4C4C;
    cursor: default;
    color: #9F9F9F;
}
.button.primary:disabled:hover {
    opacity: 1;
}
.contacts.box.primary {
    margin: 0 auto;
    width: 700px;
}
.form {
    transition: all 300ms;
    position: relative;
    z-index: 2;
}
.form .form-field {
    margin-bottom: 40px;
    position: relative;
    display: block;
}
.form .form-field .field {
    border: 1px solid #999999;
    font-family: inherit;
    background: #4D4D4D;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    color: #FFFFFF;
    width: 100%;
}
.form .form-field .field:focus ~ .name,
.form .form-field .field:not(:empty) ~ .name,
.form .form-field .field:valid ~ .name {
    font-size: 12px;
    left: 15px;
    top: 4px;
}
.form .form-field .field:required:invalid ~ .error {
    opacity: 1;
}
.form .form-field .field.input {
    padding: 0 20px;
    line-height: 50px;
    height: 57px;
}
.form .form-field .field.text {
    padding: 18px 20px;
    min-height: 155px;
}
.form .form-field .name {
    transition: all 300ms;
    position: absolute;
    font-size: 16px;
    color: #B2B2B2;
    left: 13px;
    top: 17px;
}
.form .form-field .error {
    transition: all 300ms;
    position: absolute;
    font-size: 11px;
    color: #FF7575;
    bottom: -20px;
    opacity: 0;
    left: 0;
}
.form .form-field.error .error {
    opacity: 1;
}
.form .form-field.checkbox {
    position: relative;
    padding-left: 35px;
}
.form .form-field.checkbox .field {
    display: none;
}
.form .form-field.checkbox .field:checked ~ .icons .icon.two {
    opacity: 1;
}
.form .form-field.checkbox .icons {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 0;
    top: 0;
}
.form .form-field.checkbox .icons .icon {
    transition: all 300ms;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -1px;
    left: 0;
}
.form .form-field.checkbox .icons .icon.two {
    opacity: 0;
}
.form .form-field.checkbox .text {
    font-size: 16px;
}
.form .form-field.checkbox .text a {
    text-decoration: underline;
    color: #FFFFFF;
}
.form .buttons {
    text-align: center;
}
.form .buttons .button {
    margin-bottom: 10px;
}
.form .buttons .error {
    transition: all 300ms;
    margin-bottom: -25px;
    font-size: 11px;
    color: #FF7575;
    opacity: 0;
}
.form .buttons.error .error {
    opacity: 1;
}
.form.send {
    opacity: 0;
}
.form.send + .message {
    opacity: 1;
}
.message {
    font-family: 'PT_Serif-Bold';
    justify-content: center;
    transition: all 300ms;
    align-items: center;
    position: absolute;
    font-size: 32px;
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}
.cart.grid {
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
    display: flex;
}
.cart.grid .item {
    position: relative;
    border-radius: 0;
}
.cart.grid .item .painting-delete {
    justify-content: center;
    transition: all 300ms;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
    display: flex;
    height: 30px;
    width: 30px;
    right: 15px;
    opacity: 0;
    top: 15px;
}
.cart.grid .item .painting-delete .image {
    width: 55%;
}
.cart.grid .item .painting-delete:hover {
    background: rgba(0, 0, 0, 0.5);
}
.cart.grid .item .painting-image {
    border-radius: 5px;
    overflow: hidden;
    height: 300px;
}
.cart.grid .item .painting-image .image {
    height: 100%;
}
.cart.grid .item .painting-info .info {
    padding-right: 15px;
    padding-top: 5px;
    font-size: 14px;
    color: #808080;
}
.cart.grid .item:hover .painting-delete {
    opacity: 1;
}
.footer {
    padding-bottom: 140px;
    text-align: center;
}
.footer .logo {
    padding-bottom: 30px;
}
.footer .logo .logo-link {
    display: block;
}
.footer .logo .logo-link .logo-icon {
    display: inline-block;
    width: 100px;
}
.footer .logo .logo-link .logo-icon .icon {
    display: block;
    width: 100%;
}
.footer .logo .logo-link .logo-text .name {
    font-family: 'Noto_Serif';
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 28px;
    line-height: 1;
    color: #FFFFFF;
}
@keyframes gallery-image-move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(180px);
    }
}